@model IEnumerable<CRUD_ALUMNOS.Models.AlumnoCE>

@{
    ViewBag.Title = "Listado De Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Agregar")
</p>
<table class="table">
    <tr>
        <th>
            Nombre Completo
        </th>
        <th>
            Edad
        </th>
        <th>
            Sexo
        </th>
        <th>
            Ciudad
        </th>
        <th>
            Fecha Alta
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @{
                if (item.Sexo == "M")
                {
                    <span>Masculino</span>
                }
                else
                {
                    <span>Femenino</span>
                }
            }
        </td>
        <td>
            @item.NombreCiudad           
        <td>
            @item.FechaRegistro.ToShortDateString()
            
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Detallesalumno", new { id = item.Id }) |
            @Html.ActionLink("Eliminar", "EliminarAlumno", new { id = item.Id }, new { @class = "aElimina"})
        </td>
    </tr>
}

</table>

@section scripts{
    <script>
        //a.Eliminar -> Item de Eliminar
        // ! ?
        $(".aElimina").click(function (event) {
            if (!confirm('Estás seguro de eliminar ?')) {
                event.preventDefault();
            }
        });
    </script>
}